* {
    padding:0px;
    margin:0px;
}
header {
    background-color:green;
    color:white;
    text-align:center;
    font-size:35px;
    height:100px;
    vertical-align: middle;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0px 4px 2px -2px gray;
}
header img {
    height:70px;
    float: left;
}
header a {
    text-decoration: none;
    color: limegreen;
    transition: color 0.3s;
}
header a:hover {
    color: yellow;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 2px -2px gray;
}