* {
    padding:0px;
    margin:0px;
}
header {
    background-color:green;
    color:white;
    text-align:center;
    font-size:38px;
    height:100px;
    vertical-align: middle;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0px 4px 2px -2px gray;
}
header img {
    height:70px;
    float: left;
}
header a {
    text-decoration: none;
    color: limegreen;
    transition: color 0.3s;
    
}
header a:hover {
    color: yellow;
}
header nav {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
header nav a {
    margin: 0 14px; 
    display: inline-block;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 2px -2px gray;
}
.project {
    height: 200px;
    padding: 10px;
    margin:10px;
    box-sizing: border-box;
    border: 4px solid darkgreen;
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 3px;
    font-size:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.project img {
    max-width: 100%;
    max-height: 90%;
    float: left;
}
.project h2 {
    font-size: 200%;
    margin-bottom: 5px;
}
.project div {
    font-size: 100%;
    line-height: 1.5;
    width: 90%;
    font-weight: bold;
}